<header class="navbar navbar-static-top mts-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".mts-navbar-collapse">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
    </div>

    <nav class="collapse navbar-collapse mts-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
	<li><a href="/">Home</a></li>
	<li><a href="/about">What We Do</a></li>
	<li><a href="/organization">Who We Are</a></li>
	<li><a href="/contact">Get To Know Us</a></li>
      </ul>
    </nav>
  </div>
</header>
